certifi==2018.1.18
chardet==3.0.4
Django==2.0.2
django-adaptors==0.2.5
django-csvimport==2.11
html5lib==1.0.1
idna==2.6
json-table-schema==0.2.1
lxml==4.1.1
messytables==0.15.2
numpy==1.22.0
pandas==0.22.0
python-dateutil==2.6.1
python-magic==0.4.15
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
webencodings==0.5.1
xlrd==1.1.0
